body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #18be81;
}

.form {
    width: 530px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin: -25px 0 0 -25px */
    transform: translate(-50%, -50%);
}

.container {
    padding: 16px;
    width: 500px;
    background-color: #f1f1f1;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#submit {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}